body {
    font-family: Arial;
    text-align: center;
    background: #f0f0f0;
}

video {
    width: 480px;
    height: 360px;
    border: 2px solid #aaa;
    margin-top: 20px;
}

#emotion-output {
    margin-top: 20px;
    font-size: 1.5em;
    color: #444;
    background: rgb(156, 76, 76);
    border-radius: 20px;
    color: white;
    padding: 20px;
    width: fit-content;
}
